.user {
  max-width: 90%;
  margin: 10px auto;
  .info {
    position: relative;
    line-height: 2;
    margin-bottom: 10px;
    .edit {
      position: absolute;
      top: 60px;
      right: 20px;
    }
  }

  .selection {
    .list {
      margin-top: 10px;
      .item {
        display: flex;
        .detail {
          display: flex;
          align-items: center;
          margin-left: auto;
        }
      }
    }
  }
}
