.user {
  max-width: 90%;
  margin: 10px auto;
  .info {
    line-height: 2;
    margin-bottom: 10px;
    .edit {
      margin-top: 4px;
      text-align: right;
    }
  }

  .selection {
    .list {
      margin-top: 10px;
      .detail {
        margin-top: 4px;
        text-align: right;
      }
    }
  }

  .logout {
    margin-top: 10px;
  }
}
