.success {
  max-width: 90%;
  margin: 20px auto;

  .card {
    margin-top: 10px;
  }

  .button {
    text-align: right;
    margin-top: 4px;
  }
}

.dot {
  display: flex;
  justify-content: center;
  margin-top: 40vh;
}
